# Python cache and artifacts
__pycache__/
*.py[cod]
*$py.class

# Environment folders
venv/
env/
.venv/
.env/

# Conda env
.conda/
*.conda

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets
config.py
.env

# Bytecode
*.pyo
*.pyd
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Others
*.sqlite3
